.btn-toolbar

  - if can? :manage, Production
    .btn-group
      %a.btn.btn-primary{:href => productions_path(@period, current_subject)} Внести данные

  .btn-group
    - [{:action => :districts, :title => "Муниципальные образования"}].each do |item|
      %a.btn{:href =>  url_for(:action => item[:action]), :class => ("active" if params[:action].to_s == item[:action].to_s)}= item[:title]

  .btn-group.pull-right
    %a.btn.excel_export{:href => url_for(:action => :export, :format => :xlsx)} Экспорт в Excel
