// Place all the styles related to the operator/consumptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.consumptions_form_table {
  td.manage {
    min-width: 70px;
    width: 70px;

    .btn.btn-mini {
      width: 65px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      
      &:first-child {
        margin-bottom: 5px;
      }
    }

  }
}
