%h1 Добро пожаловать в систему энергоаудита.
%p Министерство экономического развития, промышленности и транспорта Амурской области.

%p Сейчас вы можете:

%ul
  %li
    = link_to "Войти как оператор", new_operator_session_path
    для внесения данных в систему;
  %li
    = link_to "Войти как аудитор", new_auditor_session_path
    для проверки данных и проведения аудита;
  %li
    = link_to "Войти как администратор", new_admin_session_path
    для администрирования.
