%ul.btn-group
  - [{:action => :districts, :title => "Муниципальные образования"}, {:action => :authorities, :title => "Исполнительные органы государственной власти"}].each do |item|
    %li.btn{:class => ("active" if params[:action] == item[:action].to_s)}
      = link_to item[:title], url_for(:action => item[:action])

