.btn-toolbar
  %ul.btn-group
    - [{:action => :districts, :title => "Муниципальные образования"}, {:action => :authorities, :title => "Исполнительные органы государственной власти"}].each do |item|
      %li.btn{:class => ("active" if params[:action].to_s == item[:action].to_s)}
        = link_to item[:title], url_for(:action => item[:action])

  %ul.btn-group.pull-right
    %li.btn
      = link_to "Экспорт в Excel", url_for(:action => :export, :format => :xlsx), :class => "excel_export"
