%ul.btn-group
  %li.btn{:class => ("active" if params[:controller] == "operator/measuring_devices")}
    = link_to "По областям охвата и показателям", operator_measuring_devices_path
  %li.btn{:class => ("active" if params[:controller] == "operator/measuring_devices_form")}
    = link_to "Одной формой", operator_measuring_devices_form_index_path
