.btn-toolbar
  .btn-group
    %a.btn{:href => measuring_devices_path, :class => ("active" if params[:controller] == "operator/measuring_devices")} По областям охвата и показателям
    %a.btn{:href => measuring_devices_form_index_path, :class => ("active" if params[:controller] == "operator/measuring_devices_form")} Одной формой
