%ul.btn-group
  - [ |
    {:action => :districts, :title => "Муниципальные образования"}, |
    {:action => :authorities, :title => "Исполнительные органы государственной власти"}, |
    {:action => :organisations, :title => "Организации"}, |
    {:action => :budgets, :title => "Бюджеты"}, |
    {:action => :activities, :title => "Мероприятия"}, |
    {:action => :district_totals, :title => "Итог по МО"}, |
    {:action => :authority_totals, :title => "Итог по ИОГВ"}, |
    {:action => :organisation_totals, :title => "Итог по рег. орг."}, |
    ].each do |item| |
    %li.btn{:class => ("active" if params[:action] == item[:action].to_s)}
      = link_to item[:title], url_for(:action => item[:action])

