%li{:class => ("active" if params[:controller] == "help")}
  = link_to "Помощь", help_path

- if user_signed_in?
  %li
    = link_to current_user.surname_initials, user_profile_path
  %li
    = link_to t("devise.labels.sign_out"), destroy_user_session_path
- else
  %li
    = link_to "Вход в систему", new_user_session_path
