- if user_signed_in?
  %li
    = link_to current_user.surname_initials, "#"
  %li
    = link_to t("devise.labels.sign_out"), destroy_user_session_path
- else
  %li
    = link_to "Вход в систему", new_user_session_path
